@{
	ViewBag.Title = "Create";
}

@model AnimalProfileAddRequest

<form asp-controller="Animal" asp-action="CreateProfile" method="post">
	<div>
		<label asp-for="Name">Name: </label>
		<input asp-for="Name"/>
		<span asp-validation-for="Name"></span>
	</div>
	<div>
		<label  asp-for="Age">Age: </label>
		<input asp-for="Age" />
		<span asp-validation-for="Age"></span>
	</div>
	<div>
		<label asp-for="Description">Description: </label>
		<input asp-for="Description" />
		<span asp-validation-for="Description"></span>
	</div>

	<div asp-validation-summary="All" class="text-red"></div>

	<div>
		<input type="submit" />
	</div>
</form>