@{
	ViewBag.Title = "Main";
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/css/MainViewStyles.css" />
</head>
<body>
	<div class="man">
		<h1>This is the main page</h1>

		@* To do *@

		<p>Here will be the main page(first visit page)</p>

		<a href="~/Feed">Feed</a>
	</div>
</body>
</html>
