@{
	ViewBag.Title = "Thanks";
}

<link rel="stylesheet" href="~/css/ThanksForAdoptionStyles.css" />

<div class="thanks-form">
	<h1 class="thanks-heading">Thanks!</h1>
	<h3>Our managers will contact you.</h3>
</div>