@{
	ViewBag.Title = "Thanks";
}

<link rel="stylesheet" href="~/css/ThanksForCreatingStyles.css" />

<div class="thanks-form">
	<h1 class="thanks-heading">Thanks!</h1>
	<h3>Your request will be processed.</h3>
</div>