.feed-container {
    height: 400px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-top: 1px;
    margin-bottom: 20px;
}

.container-content {
    width: 80%;
    margin: 0 auto;
    height: 80%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.text-side {
    width: 45%;
    margin-right: 75px;
    padding-left: 20px;
}

.image-side {
    width: 45%;
}

.animal-name {
    height: 15%;
    font-family: 'Manrope', sans-serif;
}

.animal-age {
    height: 15%;
    font-family: 'Manrope', sans-serif;
}

.animal-image {
    width: 95%;
    object-fit: scale-down;
    height: 250px;
}

.more-button {
    border: 0;
    height: 15%;
    font-family: 'Manrope', sans-serif;
    width: 40%;
    border-radius: 15px;
    transition-duration: 300ms;
}

    .more-button:hover {
        transform: scale(1.05);
        background-color: #2c3e50;
        color: white;
        cursor: pointer;
    }

.animal-description {
    margin-top: 2px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    height: fit-content;
}

.animal-description-container {
    width: fit-content;
    height: 150px;
}

.no-profiles-heading {
    margin: 20px 40px;
}

.no-profiles-line {
    margin: 20px 40px;
    font-size: 18px;
}

.trash-icon {
    width: 100%;
    margin-left: 100%;
}

i {
    color: black;
    transition-duration: 200ms;
}

    i:hover {
        color: red;
    }

.input-area {
    width: 100%;
    margin-top: 10px;
}

.input-and-button {
    display: flex;
    flex-direction: row;
    margin-left: 29%;
}

.input-name {
    margin-top: 10px;
    width: 99%;
    height: 40px;
    border-radius: 6px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-right: 300px;
}

.search-button {
    padding: 0px 30px;
    border: 0;
    border-radius: 5px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    transition-duration: 200ms;
    font-size: 16px;
}

    .search-button:hover {
        border-radius: 20px;
        cursor: pointer;
    }
