@model RegisterDTO

@{
	ViewBag.Title = "Register";
}

<div class="main">
	<div id="header">
		<h1 class="registration-header">Registration Form</h1>
		<p>
			Please provide the following information for registration
		</p>
	</div>

	<form asp-controller="Account" asp-action="Register" method="post">

		<div class="input-area">
			<div class="label-area">
				<label asp-for="PersonName">Name</label>
			</div>
			<div>
				<input asp-for="PersonName" /><br />
				<span asp-validation-for="PersonName"></span>
			</div>
		</div>

		<div class="input-area">
			<div class="label-area">
				<label asp-for="Email">Email</label>
			</div>
			<div>
				<input asp-for="Email" /> <br />
				<span asp-validation-for="Email"></span>
			</div>
		</div>

		<div class="input-area">
			<div class="label-area">
				<label asp-for="Phone">Phone</label>
			</div>
			<div>
				<input asp-for="Phone" /> <br />
				<span asp-validation-for="Phone"></span>
			</div>
		</div>

		<div class="input-area">
			<div class="label-area">
				<label asp-for="Password">Password</label>
			</div>
			<div>
				<input asp-for="Password" /> <br />
				<span asp-validation-for="Password"></span>
			</div>
		</div>

		<div class="input-area">
			<div class="label-area">
				<label asp-for="ConfirmPassword">Confirm Password</label>
			</div>
			<div>
				<input asp-for="ConfirmPassword" /> <br />
				<span asp-validation-for="ConfirmPassword"></span>
			</div>
		</div>

		<div>
			<div>
			</div>
			<div>
				<button class="submit-btn" type="submit">Register</button>

				@if (ViewBag.Errors != null)
				{
					<div class="errors-summary">

						@foreach (var item in ViewBag.Errors)
						{
							<span>@item</span> <br />
						}
					</div>

					ViewBag.Errors = null;
				}
			</div>
		</div>


		<div>
			<h4>Already Registered?</h4>
			<a class="login-link" asp-action="Login" asp-controller="Account">Login</a>
		</div>
	</form>
</div>

@section scripts
	{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
	}
