.main {

}

body {
    font-family: Arial, sans-serif;
}

header {
    font-weight: bold;
}

#main-content {
    padding: 40px;
}

footer {
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
