<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/css/AnimalLayoutViewStyles.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<label class="logo"></label>
		<ul>
			<li><a asp-controller="Animal" asp-action="Main">Main</a></li>
			<li class="feed-button">
				<a asp-controller="Animal" asp-action="Feed">Feed</a>
			</li>
			<li class="email">
				<a class="logout-link" href="~/Logout">Logout</a>
				@if (User.Identity.IsAuthenticated)
				{
					<span class="user-email">@User.Identity?.Name</span>
				}
			</li>
		</ul>
	</nav>
	<div>
		@RenderBody()
	</div>

	@RenderSection("scripts", required: false)
</body>
</html>
