<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/css/Animal/AnimalLayoutViewStyles.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" type="image/x-icon" href="/images/animal-favicon.ico">
</head>
<body>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<label class="logo"></label>
		<ul>
			<li class="main-button"><a class="nav-button" asp-controller="Animal" asp-action="Main">Main</a></li>
			<li class="main-button">
				<a class="nav-button" asp-controller="Animal" asp-action="Feed">Feed</a>
			</li>
			<li class="email">
				<a class="logout-link nav-button" href="~/Logout">Logout</a>
				@if (User.Identity.IsAuthenticated)
				{
					<span class="user-email">@User.Identity?.Name</span>
				}
			</li>
		</ul>
	</nav>

	<div class="display-row">
		<div id="leftPanel" class="left-panel">
			<div class="button-panel">
				<div id="mySidenav" class="sidenav">
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
					@if (User.IsInRole(nameof(AnimalAdoption.Core.Enums.UserTypeOptions.Admin)))
					{
						<a asp-controller="Animal" asp-action="Requests">Create Requests</a>
						<a asp-controller="Contact" asp-action="Requests">Contact Requests</a>
					}
					else
					{
						<a asp-controller="Animal" asp-action="UserRequests">Requests</a>
						<a asp-controller="Animal" asp-action="Create">Create</a>
						<a asp-controller="Contact" asp-action="Create">Contact</a>
						<a asp-controller="Contact" asp-action="Requests">Responses</a>
					}


				</div>
				
				<span style="font-size:30px;cursor:pointer;color:#636270;margin-left:30px;margin-top:-60px;position:sticky;position:fixed;" onclick="openNav()">&#9776;</span>
			</div>
		</div>
	</div>
	<div class="body">
		@RenderBody()
	</div>

	<footer>
		<p id="footer-heading">
			© 2023 Animal Shelter App. All rights reserved.
		</p>
	</footer>

	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "300px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
	</script>

	@RenderSection("scripts", required: false)
</body>
</html>
