<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
	<div id="navbar">
		<button class="navbar-button"><a href="~/create">Create Profile</a></button>
		<button class="navbar-button"><a href="~/main">Main</a></button>
	</div>
	<div>
		@RenderBody()
	</div>


	<div>
		@if (User.Identity.IsAuthenticated)
		{
			@User.Identity?.Name
			<div>
				<a href="~/Logout">Logout</a>
			</div>
		}
	</div>
	@RenderSection("scripts", required: false)
</body>
</html>
